body {
  background-image: url("../media/night.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.day {
  background-image: url("../media/day.jpg");
  padding-bottom: 100px;
}
.day h1 {
  color: black;
}
.day h2 {
  color: rgb(15, 15, 15);
}
.day h3 {
  color: rgb(125, 125, 125);
}
.day h4 {
  color: rgb(100, 100, 100);
}
.day h5 {
  color: rgb(210, 210, 210);
}
.day h6 {
  color: rgb(150, 150, 150);
}
.day a {
  color: rgb(50, 50, 50);
}

.theme-button {
  background-color: #3667a6;
  border: #214177;
  border-radius: 3px;
  border-style: solid;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  padding: 3px 15px;
  transition: all 100ms ease-in-out;
}

.theme-button:hover {
  background: #214177;
  color: rgb(196, 214, 252);
  cursor: pointer;
}

.day .theme-button {
  background-color: rgb(127, 255, 244);
  border: rgb(28, 212, 245);
  border-style: solid;
}
.day .theme-button:hover {
  background-color: rgb(28, 212, 245);
  color: rgb(245, 235, 51);
}

.container {
  background: linear-gradient(
    359.3deg,
    rgb(196, 214, 252) 1%,
    rgba(187, 187, 187, 0.3) 70.9%
  );
  border: #3667a6;
  border-radius: 3px;
  border-style: solid;
  margin: 0 auto;
  margin-top: 15px;
  max-width: 800px;
  min-width: 650px;
  padding: 50px;
}
i {
  color: #214177;
  font-size: 35px;
  padding: 30px;
}
.sun-icon {
  color: #ffed00;
  font-size: 80px;
  font-weight: 400;
  padding: 0;
  text-align: left;
}
h1,
h3,
h5 {
  text-align: left;
}
h1 {
  color: rgb(210, 210, 210);
}
h3 {
  color: rgb(50, 50, 50);
  font-size: 16px;
}
h2,
h4,
h6 {
  text-align: right;
}
a {
  color: rgb(150, 150, 150);
}
a:hover {
  color: rgb(125, 125, 125);
  text-decoration: none;
}
h2 {
  color: rgb(200, 200, 200);
  font-size: 44px;
  font-weight: 400;
}
h4 {
  font-weight: 400;
}
h5 {
  font-size: 10px;
}
h6 {
  color: rgb(100, 100, 100);
  font-size: 13px;
}
p {
  font-size: 13px;
}
form {
  font-size: 20px;
  padding: 60px;
}
.search {
  display: inline;
}
.prediction {
  color: rgb(50, 50, 50);
  display: grid;
  font-size: 16px;
  font-weight: 350;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}
footer {
  color: rgb(131, 54, 204);
  font-size: 10px;
  margin: 0 auto;
  text-align: center;
}
.active {
  color: rgb(150, 150, 150);
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
strong {
  color: rgb(50, 50, 50);
  font-weight: 600;
}
