body {
  background-color: #e8f9fd;
  padding-bottom: 250px;
}
.container {
  background: linear-gradient(
    359.3deg,
    rgb(196, 214, 252) 1%,
    rgba(187, 187, 187, 0) 70.9%
  );
  border: #3667a6;
  border-radius: 3px;
  border-style: solid;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 800px;
  min-width: 650px;
  padding: 50px;
}
i {
  color: #214177;
  font-size: 35px;
  padding: 30px;
}
.sun-icon {
  color: #ffed00;
  font-size: 80px;
  font-weight: 400;
  padding: 0;
  text-align: left;
}
h1,
h3,
h5 {
  text-align: left;
}
h3 {
  color: rgb(200, 200, 200);
  font-size: 16px;
}
h2,
h4,
h6 {
  text-align: right;
}
a {
  color: rgb(50, 50, 50);
}
h2 {
  font-size: 44px;
  font-weight: 400;
}
h4 {
  color: rgb(100, 100, 100);
  font-weight: 400;
}
h5 {
  color: rgb(210, 210, 210);
  font-size: 10px;
}
h6 {
  color: rgb(150, 150, 150);
  font-size: 13px;
}
form {
  font-size: 20px;
  padding: 60px;
}
.search {
  display: inline;
}
.prediction {
  color: rgb(50, 50, 50);
  font-size: 16px;
  font-weight: 350;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}
footer {
  color: #214177;
  font-size: 10px;
  margin: 0 auto;
  text-align: center;
}
